/* Google Font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    width: min(90%, 75rem);
    justify-content: space-between;
    align-items: center;
}

.primary_flex{
    background-color: #15132a;
    display: flex;
}

button{
    background-color:#0e919b;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
}

button:hover .fas{
    color: #000;
    transition: all 0.4s;
}

section article{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

/* header starts here */
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 42px;
}

nav ul li{
    list-style-type: none;
    padding: 10px 0;
}

nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    margin-right:5px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s;
}

nav ul li a:hover{
    background-color: #fff;
    color: #000;
}

.btn button{
    margin-top: 30px;
}

.btn i{
    font-size: 24px;
    margin-right: 10px;
}
/* header ends here*/

/* Banner section starts */

.text-part{
    width: 40%;
    margin-bottom: 50px;
}

.text-part h1{
    font-size: 64px;
    color: #fff;
    font-weight: 700;
}

.text-part span{
    color: red;
}

.text-part i{
    font-size: 24px;
    margin-left: 10px;
}

.img-part{
    width: 45%;
    margin:25px 0 86px;
}

.img-part img{
    width: 550px;
    height: 450px;
    margin-top: 30px;
}
/* Banner section ends */

/* Players section starts */
.players-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;  
    justify-self: center;
    padding: 50px 11rem;
}

.card{
    width: 340px;
    height: 480px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin: 25px 5px;
}

.card-body{
    padding:15px;
}

.card img{
    width: 310px;
    height: 256px;
}

.card h1{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
}

.text-muted{
    font-size: 16px;
    color: gray;
}

/* Players section ends */

/* highlight-section starts*/
#highlight_article{
    display: flex;
    justify-content: space-evenly;
    margin:130px 0 0 3rem;
}

.text-part #heading{
    font-size: 48px;
    font-weight: 700;
}

#highlight_article .text-part{
    width: 470px;
    position: relative;
}

#highlight_article button{
    margin-top: 20px;
}
/* Form added here */
form{
    position: absolute;
    top: 300px;
    right: 0;
    width: 60%;
}

form select{
    width: 100%;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 10px;
    box-shadow: 2px 2px 10px #ddd;
    font-size: 18px;
    color: gray;
}

#hover-img:hover{
    transform: scale(1.05);
    filter:grayscale(1);
    transition: all 0.3s ease-in-out;
}

/* footer starts */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo img{
    width: 485px;
    height:110px;
    margin: 20px 0;
}

.social-link i{
    margin:0 14px;
    font-size: 20px;
}

.social-link i:hover{
    transform: scale(2);
    transition: all 0.4s;
}

footer p{
    margin: 20px 0;
}
/* footer ends */

/* media query for mobile */

@media only screen and (max-width: 600px){
    .primary_flex{
        flex-direction: column;
    }
    #highlight_article{
        flex-direction: column;
        margin: 100px 0 0 0;
    }
    
    .text-part{
        width: 70%;
        margin: 3rem 0 3rem ;
    }

    .text-part h1{
        font-size: 24px;
        color: #fff;
        font-weight: 700;
    }

    .img-part{
        width: 300px;
        height: 400px;
    }

    .text-part #heading{
        font-size: 23px;
        font-weight: 700;
    }

    #highlight_article .text-part{
        width: 70%;
        margin: 2rem 0 3rem;
        position: relative;
    }

    .card{
        margin-left: 4.3rem;
        transform: scale(1.3);
    }

    .img-part img{
        width: 300px;
        height: 250px;
        margin-top: 30px;
    }

    .players-section{
        grid-template-columns: 1fr;
        grid-row-gap:10rem;
        padding: 50px 1rem;
    }

    .img-part img {
        width: 300px;
        transform: scale(1.4);
    }

    form{
        width: 100px;
    }

    footer{
        width:100%;
    }
}

@media only screen and (min-width: 768px){

}

/* For mobile phones:for small device */ 

