/* Google Font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    width: min(90%, 75rem);
    justify-content: space-between;
    align-items: center;
}

.primary-color{
    background-color: #15132a;
}

button{
    background-color:#0e919b;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* header starts here */
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 42px;
}

nav ul li{
    list-style-type: none;
    padding: 10px 0;
}

nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    margin-right:5px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s;
}

nav ul li a:hover{
    background-color: #fff;
    color: #000;
}

.btn button{
    margin-top: 30px;
}

.btn i{
    font-size: 24px;
    margin-right: 10px;
}
/* header ends here*/

/* Banner section starts */
section article{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.text-part{
    width: 40%;
    margin-bottom: 50px;
}

.text-part h1{
    font-size: 64px;
    color: #fff;
    font-weight: 700;
}

.text-part i{
    font-size: 24px;
    margin-left: 10px;
}

.img-part{
    width: 45%;
    margin:25px 0 86px;
}

.img-part img{
    width: 550px;
    height: 450px;
    margin-top: 30px;
}
/* Banner section ends */

/* Players section starts */
.players-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-self: center;
    padding: 50px 11rem;
}

.card{
    width: 340px;
    height: 480px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin: 25px 5px;
}

.card-body{
    padding:15px;
}

.card img{
    width: 310px;
    height: 256px;
}

.card h1{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
}

.text-muted{
    font-size: 16px;
    color: gray;
}

/* Players section ends */
/* highlight-section starts*/
section #two{
    display: flex;
    justify-content: space-evenly;
    margin:130px 0 0 3rem;
}

.text-part #heading{
    font-size: 48px;
    font-weight: 700;
}

#two .text-part{
    width: 470px;
}
#two button{
    margin-top: 20px;
}
/* highlight-section ends */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo img{
    width: 485px;
    height:110px;
    margin: 20px 0;
}

.social-link i{
    margin:0 14px;
    font-size: 20px;
}

.social-link i:hover{
    transform: scale(2);
    transition: all 0.2s;
}

footer p{
    margin: 20px 0;
}